/* ------------------------------------ basic ------------------------------------ */
    *, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }
    html { -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: transparent; scroll-behavior: smooth !important; }
    body { background: var(--background); font-family: 'Inter', sans-serif; font-style: normal; font-weight: normal; font-size: 0.938rem; line-height: 160%; color: var(--dark); overflow-x: hidden; -webkit-font-smoothing: antialiased; overscroll-behavior-y: none; }

    ::-moz-selection { background: var(--accent); color: var(--white); }
    ::selection { background: var(--accent); color: var(--white); }

    ::-webkit-scrollbar { width: 3px; }
    ::-webkit-scrollbar-track { background: var(--light); }
    ::-webkit-scrollbar-thumb:hover { background: var(--accent); }
    ::-webkit-scrollbar-thumb {
    background-image: -webkit-linear-gradient(45deg, var(--second), var(--accent));
    background-image: -o-linear-gradient(45deg, var(--second), var(--accent));
    background-image: linear-gradient(45deg, var(--second), var(--accent));}

    ::placeholder { color: var(--light); }
    input:focus::-moz-placeholder { opacity: 0; -webkit-transition: .4s; -o-transition: .4s; transition: .4s; }

    .fn-inter { font-family: 'Inter', sans-serif; }
    .fn-rubik { font-family: 'Rubik', sans-serif; }

    a { color: var(--dark); cursor: pointer; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out;text-decoration: none; }
    a {text-decoration: none!important;}
    a:focus, a:hover, a:active, *:focus,
    a:focus h1, a:hover h1, a:active h1,
    a:focus h2, a:hover h2, a:active h2,
    a:focus h3, a:hover h3, a:active h3,
    a:focus h4, a:hover h4, a:active h4,
    a:focus h5, a:hover h5, a:active h5,
    a:focus h6, a:hover h6, a:active h6 { 
        color: var(--accent); outline: none; text-decoration: none; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; 
    }
    
    a.hover:hover { text-decoration: underline; transition-duration: 0.2s; }
    a.hover-1 { text-decoration: none; background-image: linear-gradient(#999999, #999999); background-position: 1% 100%; background-repeat: no-repeat; background-size: 0% 2px; transition: background-size cubic-bezier(0,.5,0,1) 0.3s; }
    a.hover-2:hover { text-decoration: none; background-size: 100% 2px; }
    a.hover-2 { text-decoration: none; background-image: linear-gradient(#f1f1f1, #f1f1f1); background-position: 1% 100%; background-repeat: no-repeat; background-size: 0% 2px; transition: background-size cubic-bezier(0,.5,0,1) 0.3s; }
    a.hover-2:hover { text-decoration: none; background-size: 100% 50px; }
    a.hover-3:hover { margin-left: 3px; transition-duration: 0.2s; }
    a.hover-4:hover { padding-bottom: 3px; transition-duration: 0.2s; }

    h1, h2, h3, h4, h5, h6 { color: var(--dark); }

    .colorHeader{
        background: rgb(0,241,145);
        background: linear-gradient(93deg, rgba(0,241,145,1) 67%, rgba(255,255,255,1) 100%);
    }

    .colorHeader .titleWhite{
        color: #ffff!important;
    }
/* ------------------------------------ votestar ------------------------------------ */
    .star_animate i { -webkit-transition: width .3s; transition: width .3s }

    .star_big, .star_big i { display: inline-block; height: 29px; background-image: url('../img/stars.png'); background-repeat: no-repeat; font-size: 0 }

    .star_big { background-position: 0 -62px; width: 145px }
    .star_big i { background-position: 0 -91px; overflow: hidden }

    .star_big[data-starnum="0"] i { width: 0 }
    .star_big[data-starnum="0.5"] i { width: 14.5px }
    .star_big[data-starnum="1"] i { width: 29px }
    .star_big[data-starnum="1.5"] i { width: 43.5px }
    .star_big[data-starnum="2"] i { width: 58px }
    .star_big[data-starnum="2.5"] i { width: 72.5px }
    .star_big[data-starnum="3"] i { width: 87px }
    .star_big[data-starnum="3.5"] i { width: 101.5px }
    .star_big[data-starnum="4"] i { width: 116px }
    .star_big[data-starnum="4.5"] i { width: 130.5px }
    .star_big[data-starnum="5"] i { width: 145px }

    .star_in, .star_in i { display: inline-block; height: 17px; background-image: url('../img/stars.png'); background-repeat: no-repeat; font-size: 0; }

    .star_in { background-position: 0 0; width: 85px; }
    .star_in i { background-position: 0 -17px; overflow: hidden; }

    .star_in[data-starnum="0"] i { width: 0 }
    .star_in[data-starnum="0.5"] i { width: 8.5px }
    .star_in[data-starnum="1"] i { width: 17px }
    .star_in[data-starnum="1.5"] i { width: 25.5px }
    .star_in[data-starnum="2"] i { width: 34px }
    .star_in[data-starnum="2.5"] i { width: 42.5px }
    .star_in[data-starnum="3"] i { width: 51px }
    .star_in[data-starnum="3.5"] i { width: 59.5px }
    .star_in[data-starnum="4"] i { width: 68px }
    .star_in[data-starnum="4.5"] i { width: 76.5px }
    .star_in[data-starnum="5"] i { width: 85px }

    .star_small, .star_small i { display: inline-block; height: 14px; background-image: url('../img/stars.png'); background-repeat: no-repeat; font-size: 0; }

    .star_small { background-position: 0 -34px; width: 70px; }
    .star_small i { background-position: 0 -48px; overflow: hidden; }

    .star_small[data-starnum="0"] i { width: 0 }
    .star_small[data-starnum="0.5"] i { width: 7px }
    .star_small[data-starnum="1"] i { width: 14px }
    .star_small[data-starnum="1.5"] i { width: 21px }
    .star_small[data-starnum="2"] i { width: 28px }
    .star_small[data-starnum="2.5"] i { width: 35px }
    .star_small[data-starnum="3"] i { width: 42px }
    .star_small[data-starnum="3.5"] i { width: 49px }
    .star_small[data-starnum="4"] i { width: 56px }
    .star_small[data-starnum="4.5"] i { width: 63px }
    .star_small[data-starnum="5"] i { width: 70px }
/* ------------------------------------ end votestar ------------------------------------ */
/*Modal Detail*/

.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
}
/*.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}*/
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}
/*Modal Detail*/
/*  Load Spiner  */

.spiner{
    display: flex;
    justify-content: center;
}
.spinner-square {
    display: flex;
    flex-direction: row;
    width: 90px;
    height: 120px;
}

.spinner-square > .square {
    width: 17px;
    height: 80px;
    margin: auto auto;
    border-radius: 4px;
}

.square-1 {
    animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s infinite;
}

.square-2 {
    animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 200ms infinite;
}

.square-3 {
    animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms infinite;
}

@keyframes square-anim {
    0% {
        height: 80px;
        background-color: rgb(111, 163, 240);
    }
    20% {
        height: 80px;
    }
    40% {
        height: 120px;
        background-color: rgb(111, 200, 240);
    }
    80% {
        height: 80px;
    }
    100% {
        height: 80px;
        background-color: rgb(111, 163, 240);
    }
}
/*end Load Spiner*/
    .font-weight-200, .fw-200 { font-weight: 200 !important; }
    .font-weight-light, .fw-300 { font-weight: 300 !important; }
    .font-weight-lighter, .fw-lighter { font-weight: lighter !important; }
    .font-weight-normal, .fw-400 { font-weight: 400 !important; }
    .font-weight-500, .fw-500 { font-weight: 500 !important; }
    .font-weight-600, .fw-600 { font-weight: 600 !important; }
    .font-weight-bold, .fw-bold { font-weight: 600 !important; }
    .font-weight-800, .fw-800 { font-weight: 800 !important; }
    .font-weight-900, .fw-900 { font-weight: 900 !important; }
    .font-weight-ultra, .fw-ultra { font-weight: 900 !important; }
    .font-weight-bolder, .fw-bolder { font-weight: 700 !important; }
    .font-italic { font-style: italic !important; }

    .font-10 { font-size: 0.625rem !important; }
    .font-11 { font-size: 0.688rem !important; }
    .font-12 { font-size: 0.75rem !important; }
    .font-13 { font-size: 0.813rem !important; }
    .font-14 { font-size: 0.875rem !important; }
    .font-15 { font-size: 0.938rem !important; }
    .font-16 { font-size: 1rem !important; }
    .font-17 { font-size: 1.063rem !important; }
    .font-18 { font-size: 1.125rem !important; }
    .font-19 { font-size: 1.188rem !important; }
    .font-20 { font-size: 1.25rem !important; }
    .font-21 { font-size: 1.313rem !important; }
    .font-22 { font-size: 1.375rem !important; }
    .font-23 { font-size: 1.438rem !important; }
    .font-24 { font-size: 1.5rem !important; }
    .font-25 { font-size: 1.563rem !important; }

    .font-xs { font-size: 0.688rem !important; }
    .font-sm { font-size: 0.75rem !important; }
    .font-md { font-size: 0.938rem !important; }
    .font-lg { font-size: 1.25rem !important; }

    .lh-1 { line-height: 1; }
    .lh-2 { line-height: 1.2; }
    .lh-3 { line-height: 1.3; }
    .lh-4 { line-height: 1.4; }
    .lh-5 { line-height: 1.5; }

    .text-decoration-none { text-decoration: none !important; }
    .text-break { word-break: break-word !important; overflow-wrap: break-word !important; }
    .word-break-all { word-break: break-all !important; }
    .text-reset { color: inherit !important; }

    .text-limit-1-row { overflow: hidden !important; display: -webkit-box !important; -webkit-line-clamp: 1 !important; -webkit-box-orient: vertical; }
    .text-limit-2-row { overflow: hidden !important; display: -webkit-box !important; -webkit-line-clamp: 2 !important; -webkit-box-orient: vertical; }
    .text-limit-3-row { overflow: hidden !important; display: -webkit-box !important; -webkit-line-clamp: 3 !important; -webkit-box-orient: vertical; }
    .text-limit-4-row { overflow: hidden !important; display: -webkit-box !important; -webkit-line-clamp: 4 !important; -webkit-box-orient: vertical; }
    .text-limit-5-row { overflow: hidden !important; display: -webkit-box !important; -webkit-line-clamp: 5 !important; -webkit-box-orient: vertical; }

    .text-accent { color: var(--accent) !important; }
    .text-second { color: var(--second) !important; }
    .text-white { color: var(--white) !important; }
    .text-black { color: var(--black) !important; }
    .text-light { color: var(--light) !important; }
    .text-dark { color: var(--dark) !important; }
    .text-red { color: #FF0000 !important; }
    .text-text { color: var(--text) !important; }
    .text-text2 { color: var(--text2) !important; }
    .text-note { font-weight: normal; font-size: 0.75rem; letter-spacing: 0.02rem; color: #ABAFB3; }

    .opacity-1 { opacity: 0.1; }
    .opacity-2 { opacity: 0.2; }
    .opacity-3 { opacity: 0.3; }
    .opacity-4 { opacity: 0.4; }
    .opacity-5 { opacity: 0.5; }
    .opacity-6 { opacity: 0.6; }
    .opacity-7 { opacity: 0.7; }
    .opacity-8 { opacity: 0.8; }
    .opacity-9 { opacity: 0.9; }
    .opacity-none { opacity: 1; }

    .visible { visibility: visible !important; }
    .invisible { visibility: hidden !important; }

    .p-absolute { position: absolute !important; }
    .p-relative { position: relative !important; }
    .p-sticky { position: sticky !important; }

    .absolute-top-left { position: absolute; top: 0; left: 0; }
    .absolute-top-right { position: absolute; top: 0; right: 0; }
    .absolute-bottom-left { position: absolute; bottom: 0; left: 0; }
    .absolute-bottom-right { position: absolute; bottom: 0; right: 0; }

    .overflow-auto { overflow: auto; }
    .overflow-hidden { overflow: hidden; }

    .bg-none { background: none !important; }
    .bg-trans { background: transparent !important; }
    .bg-accent { background: var(--accent) !important; }
    .bg-second { background: var(--second) !important; }
    .bg-dark { background: var(--dark) !important; }
    .bg-light { background: var(--light) !important; }
    .bg-black { background: var(--black) !important; }
    .bg-white { background: var(--white) !important; }

    ol { padding: 0; margin: 0; }
    ol li { list-style: decimal inside !important; }
    ul { padding: 0; margin: 0; }
    ul li { list-style: none; }
    .list-unstyled { padding-left: 0; list-style: none; }
    .list-inline { padding-left: 0; list-style: none; }
    .list-inline-item { display: inline-block; }
    .list-inline-item:not(:last-child) { margin-right: 0.938rem; }

    .list-style .list-item:not(:last-child) { margin-bottom: 0.5rem; }

    .list-check li { position: relative; padding-left: 1.525rem; }
    .list-check li:before {
        font-family: 'Font Awesome 5 Free';
        content: '\f00c';
        position: absolute;
        top: 0.1rem;
        left: 0;
        width: 1.25rem;
        height: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: rgba(54, 179, 127, 0.08);
        font-weight: 900;
        font-size: 0.625rem;
        color:  var(--accent);
    }

    .img-contain { object-fit: contain; -webkit-transition: -webkit-transform .5s; transition: -webkit-transform .5s; -o-transition: transform .5s; transition: transform .5s; transition: transform .5s, -webkit-transform .5s; }
    .img-cover { object-fit: cover; object-position: 50% 50%; width: 100%; height: 100%; -webkit-transition: -webkit-transform .5s; transition: -webkit-transform .5s; -o-transition: transform .5s; transition: transform .5s; transition: transform .5s, -webkit-transform .5s; }

    .img-profile-xs { width: 2.5rem; height: 2.5rem; border-radius: 50%; -o-object-fit: cover; object-fit: cover; object-position: 50% 50%; }
    .img-profile-sm { width: 3.75rem; height: 3.75rem; border-radius: 50%; -o-object-fit: cover; object-fit: cover; object-position: 50% 50%; }
    .img-profile-md { width: 5rem; height: 5rem; border-radius: 50%; -o-object-fit: cover; object-fit: cover; object-position: 50% 50%; }
    .img-profile-lg { width: 7.5rem; height: 7.5rem; border-radius: 50%; -o-object-fit: cover; object-fit: cover; object-position: 50% 50%; }

    .separator { border-top: 1px solid var(--light); }
    .separator-dark { border-top: 1px solid var(--dark); }
    hr { border-bottom: 1px solid var(--light); border-top: 0 none; padding: 0; }

    .trans-4, .trans-4:hover { -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out; }

    .text-shadow-xs { text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }

    .hv-img-zoom { overflow: hidden; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
    .hv-img-zoom:hover { -webkit-transform: scale(1.08); -ms-transform: scale(1.08); transform: scale(1.08); -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

    .hv-zoom { position: relative; overflow: hidden; }
    .hv-zoom img:not(.fix) { -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
    .hv-zoom:hover img:not(.fix) { -webkit-transform: scale(1.08); -moz-transform: scale(1.08); -ms-transform: scale(1.08); -o-transform: scale(1.08); transform: scale(1.08); -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

    .hv-underline { display: block; position: relative; padding: 0; }
    .hv-underline:hover { text-decoration: none; }
    .hv-underline:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1.5px;
        width: 0;
        transition: width 0s ease, background 0.25s ease;
    }
    .hv-underline:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 1.5px;
        width: 0;
        background: var(--accent);
        transition: width 0.25s ease;
    }
    .hv-underline:hover:before { width: 100%; background: var(--accent); transition: width 0.25s ease; }
    .hv-underline:hover:after { width: 100%; background: transparent; transition: all 0s ease; }

    .link { text-transform: capitalize; font-weight: 400; color: var(--dark); }
    .link:hover, .link:focus { color: var(--dark); }

    .link-style-2 { letter-spacing: 0.313rem; }

    @media (max-width: 768px) {
        .link { font-size: 0.75rem; }
    }
.has-error em, em.has-error {
    color: red!important;
    font-size: 0.875rem !important;
}
    .theiaStickySidebar:after { content: ''; display: table; clear: both; }
/* ------------------------------------ end basic ------------------------------------ */


/* ------------------------------------ Login ------------------------------------ */

.bg-login {
    background-image: url(../images/login-images/bg-login-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.section-authentication-signin {
    height: 100vh;
}
.dropify-wrapper .dropify-message span.file-icon {
    font-size: 2rem!important;
    color: #CCC;
}
@media(max-width: 480px){

    .dropify-wrapper .dropify-message span.file-icon {
    font-size: 1rem!important;
    color: #CCC;
    }

    .wraper-lg{
            margin-top: -35px;
    }
}

.wraper-lg{
    margin-top: 30px;
}

.login-separater span {
    position: relative;
    top: 26px;
    margin-top: -10px;
    background: #fff;
    padding: 5px;
    font-size: 12px;
    color: #cbcbcb;
    z-index: 1;
}
@media screen and (max-width:991px) {
    .section-authentication-signin {
        height: 100%;
        margin-top: 6rem;
        margin-bottom: 2rem
    }
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}